<div id="home">
    <img id="img-home" src="../../../assets/img/paisaje.jpg">
    <div class="titulo">
        <h1 id="titulo">Transition</h1>
    </div>    
    <div class="mensaje">
        <p id="mensaje">El mundo esta cambiando. Los ambientes naturales considerados verdaderos paraisos se ven cada vez más amenazados por el uso desenfreando de los recursos naturales por parte del hombre. La conciencia de que formamos parte de un mismo cuerpo vivo, La Tierra, pareciera estar dormida en gran cantidad de personas.<br>Pero hay otros que sienten el latido de una tierra que esta viva, que nos cobija, nos alimenta y nos cuida.<br>Nos acercamos a un punto en el que resulta imprescindible volver a realinearnos con el saber natural, con la armonia del buen vivir, y con las prácticas que nos permitiran seguir habitando de forma sana este mundo, para nosotros, nuestros hijos, nuestros nietos, y todos los que sigan despues de ellos.</p>
        <button class="next"><i class="bi bi-caret-down-fill"></i></button>          
    </div>
</div>