<!-----
<nav class="navbar navbar-expand-lg bg-body-tertiary">
--->
<nav class="navbar navbar-expand-lg" [ngStyle]="{'background-color':light==true?'white':'black'}">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Transition</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Plants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <nav id="dark-mode" lass="vistas" aria-label="Page navigation example">
          <ul class="pagination mode">
            <li class=""><button class="btn btn-light"  [ngStyle]="{'background-color':light==true?'#5D21D2':''}" (click)="light=true"><i class="bi bi-sun"></i></button></li>
            <li class="page-item"><button  class="btn btn-light" [ngStyle]="{'background-color':light==false?'#5D21D2':''}" (click)="light=false"><i class="bi bi-moon"></i></button></li>
          </ul>
        </nav>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>
